.academy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 27px;

  @include fonts (700, 19px, $color-general, 100%);
}

.academy__text {
  margin-right: 27px;
}

@media (min-width: 768px) {
  .academy {
    padding-top: 0;
  }

  .academy__text {
    margin-right: 25px;
  }
}
