.catalog__list {
  display: grid;
  gap: 30px;
}

.catalog__product {
  width: 260px;
  margin: 0 auto;
}


@media (min-width: 768px) {
  .catalog__list {
    gap: 54px;
  }

  .catalog__product {
    width: 670px;
  }
}

@media (min-width: 1150px) {
  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }

  .catalog__product {
    width: 316px;
  }
}
