@import "../modules.scss";
@import "../mixins.scss";

.contacts {
  @include outline;
}

.contacts__title {
  margin: 0;

  @include fonts(700, 25px, $color-general, 120%);
}

.contacts__description {
  display: flex;

  @include fonts(400, 14px, $color-secondary, 214%);
}

.contacts__name {
  display: block;
  width: 76px;
}

.contacts__link {
  width: 183px;

  @include fonts(400, 14px, $color-secondary, 214%);

  text-decoration: none;
}

.contacts__text {
  margin: 0;
  width: 183px;
}
