.contacts-map {
  display: block;
  margin-bottom: 41px;
  border: none;
  width: 100%;
}

.contacts-map__image {
  display: block;
  margin-bottom: 0;
  object-fit: contain;
}

@media (min-width: 768px) {
  .contacts-map {
    height: 457px;
  }
}

@media (min-width: 1150px) {
  .contacts-map {
    margin-bottom: 0;
  }
}
