.detailed__wrapper {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  padding: 12px 0;
  border-bottom: 1px solid #ececec;

  @include fonts(400, 15px, $color-secondary, 133%);
}

.detailed__value {
  margin: 0;
}
