.footer {
  padding-bottom: 23px;
  background-color: $color-bg;
}

.footer__container {
  position: relative;
  padding-top: 25px;
}

.footer__logo {
  display: none;
}

.footer__social {
  margin: 0 auto 28px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 51px;
    padding-bottom: 58px;
  }

  .footer__logo {
    display: block;
  }

  .footer__logo:hover svg {
    fill: $color-light-accent;
  }

  .footer__logo:active svg {
    opacity: 0.3;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  .footer__social {
    margin: 0;
  }
}

@media (min-width: 1150px) {
  .footer {
    padding-top: 49px;
  }
}
