.footer {
  padding-bottom: 23px;
  background-color: $color-bg;
}

.footer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.footer__logo {
  display: none;

  &[href]:hover {
    fill: $color-light-accent;
  }

  &[href]:focus-visible {
    outline: 1px solid $color-light-accent;
    outline-offset: 2px;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.footer__social {
  margin: 0 auto 28px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 51px;
    padding-bottom: 58px;
  }

  .footer__logo {
    display: block;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  .footer__social {
    margin: 0;
  }
}

@media (min-width: 1150px) {
  .footer {
    padding-top: 49px;
  }
}
