.forms__description {
  margin-bottom: 28px;

  @include fonts(400, 13px, $color-secondary, 185%);
}

.form__fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  border: none;

  &--other {
    padding-bottom: 0;
    margin-bottom: 13px;
  }
}

.form__title {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  margin: 0;
  margin-bottom: 30px;
  width: 100%;
  word-break: break-all;
  background-color: #ffffff;

  @include fonts(700, 17px, $color-light-accent, 110%);
  text-transform: uppercase;

  &--color {
    margin-bottom: 23px;
  }

  &--names {
    margin-bottom: 28px;
  }

  &--tel {
    margin-bottom: 2px;
  }

  &--email {
    margin-bottom: 4px;
  }

  &--other {
    margin-bottom: 22px;
  }

  &::after {
    content: "";
    height: 1px;
    display: block;
    background-color: $color-light-accent;
    margin-left: 20px;
  }

  &--tel::after {
    margin-left: 28px;
  }
}

.form__wrapper {
  display: grid;

  &--type {
    row-gap: 11px;
  }

  &--color {
    row-gap: 23px;
  }

  &--name {
    row-gap: 23px;
  }
}

.form__label {
  position: relative;
  display: block;

  &--type {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 19px;
  }

  &--color {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 23px;
  }

  &--tel {
    margin-bottom: 34px;
  }

  &:hover .form__mark {
    border-color: $color-light-accent;
  }

  &:active .form__mark {
    border-color: rgba(68, 68, 58, 0.3);

    &--circle {
      border-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.form__label-wrapper {
  position: relative;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 17px 40px 13px 0;

  @include fonts(400, 17px, $color-secondary, 106%);

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $color-general;

  cursor: pointer;

  &--tel {
    padding-bottom: 17px;
  }

  &--comment {
    height: 142px;
    padding: 16px;

    border: 2px solid $color-secondary;
    box-shadow: none;
  }

  &::placeholder {
    opacity: 0.3;
  }

  &[type="radio"]:checked {
    + .form__mark--circle {
      background-image: url("../img/icon/color-circle.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &[type="radio"]:disabled {
    ~ .form__value {
      opacity: 0.1;
    }

    + .form__mark--circle {
      opacity: 0.1;
      cursor: no-drop;
    }
  }

  &[type="radio"]:checked:disabled {
    ~ .form__value {
      opacity: 0.1;
    }

    + .form__mark--circle {
      opacity: 0.1;
      cursor: no-drop;
    }
  }

  &[type="checkbox"]:checked {
    + .form__mark {
      background-image: url("../img/icon/color-tick.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &[type="checkbox"]:disabled {
    ~ .form__value {
      opacity: 0.1;
    }

    + .form__mark {
      opacity: 0.1;
      cursor: no-drop;
    }
  }

  &[type="checkbox"]:checked:disabled {
    ~ .form__value {
      opacity: 0.1;
    }

    + .form__mark {
      opacity: 0.1;
      cursor: no-drop;
    }
  }

  &:hover:not(:disabled) {
    border-color: $color-light-accent;

    + .form__contact-image {
      fill: $color-light-accent;
      opacity: 1;
    }
  }

  &:focus {
    border-color: $color-light-accent;
    outline: none;

    + .form__contact-image {
      fill: $color-light-accent;
      opacity: 1;
    }
  }

  &:disabled {
    opacity: 0.1;
    cursor: no-drop;
  }
}

.form__contact-image {
  position: absolute;
  bottom: 50%;
  right: 5px;
  transform: translateY(50%);
}

.form__mark {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border: 2px solid $color-secondary;

  cursor: pointer;

  &--circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.form__value {
  @include fonts(700, 17px, $color-general, 106%);
}

.form__important {
  margin: 0;
  margin-bottom: 30px;

  @include fonts(400, 14px, $color-secondary, 114%);
}

.form__button {
  width: 100%;
  padding: 16px 20px;

  @include fonts(700, 17px, $color-secondary, 94%);
}

@media (min-width: 768px) {
  .forms__description {
    margin-bottom: 13px;

    @include fonts(400, 17px, $color-secondary, 176%);
  }

  .form__fieldset {
    padding: 50px 0;

    &--dark {
      background-color: $color-bg;
    }

    &--other {
      margin-bottom: 0;
    }
  }

  .form__container {
    display: grid;
    grid-template-columns: 1fr 501px;

    &--type {
      grid-template-columns: 1fr 499px;
    }

    &--contacts {
      grid-template-columns: 1fr;
    }

    &--bottom {
      grid-template-columns: auto 1fr;
    }
  }

  .form__label {
    &--type {
      column-gap: 26px;
    }

    &--color {
      column-gap: 30px;
    }

    &--name {
      display: flex;
      align-items: center;
    }

    &--tel {
      display: grid;
      grid-template-columns: 1fr 501px;
      margin-bottom: 24px;
      align-items: center;
    }

    &--email {
      display: grid;
      grid-template-columns: 1fr 501px;
      align-items: center;
    }
  }

  .form__wrapper {
    &--type {
      row-gap: 24px;
    }

    &--color {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 22px;
      row-gap: 24px;
    }

    &--name {
      row-gap: 24px;
    }
  }

  .form__title {
    margin-block-start: 1em;
    background-color: transparent;
    align-items: baseline;
    padding-right: 15px;
    box-sizing: border-box;

    &::after {
      content: none;
    }
  }

  .form__mark {
    width: 52px;
    height: 52px;
  }

  .form__value {
    @include fonts(700, 19px, $color-general, 100%);

    &--name {
      margin-right: 25px;
    }
  }

  .form__input {
    padding-top: 11px;
    padding-left: 17px;

    @include fonts(400, 19px, $color-secondary, 100%);

    &--tel {
      padding-bottom: 13px;
    }

    &--comment {
      padding: 16px;
    }

    &[type="radio"]:checked + .form__mark--circle {
      background-size: 50%;
    }

    &[type="checkbox"]:checked + .form__mark {
      background-size: 70%;
    }
  }

  .form__contact-image {
    right: 23px;
  }

  .form__important {
    margin: auto 0 auto 50px;
    grid-column: 2/3;
    grid-row: 1/2;

    @include fonts(400, 17px, $color-secondary, 176%);
  }

  .form__button {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 230px;
  }
}

@media (min-width: 1150px) {
  .forms__description {
    width: 702px;
    margin-left: auto;
    margin-right: auto;
  }

  .form__fieldset {
    padding: 49px 0 50px 0;

    &--other {
      padding-bottom: 46px;
    }
  }

  .form__container {
    box-sizing: border-box;
    padding: 0 175px 0 60px;

    grid-template-columns: 1fr 700px;

    &--contacts {
      grid-template-columns: 1fr;
    }

    &--bottom {
      grid-template-columns: auto 1fr;
    }
  }

  .form__wrapper {
    &--color {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 97px;
    }
  }

  .form__label {
    &--tel {
      display: grid;
      grid-template-columns: 1fr 700px;
    }

    &--email {
      display: grid;
      grid-template-columns: 1fr 700px;
    }
  }

  .form__input {
    padding-bottom: 14px;

    &--tel {
      padding-bottom: 12px;
    }
  }

  .form__contact-image {
    right: 4px;
  }

  .form__button {
    margin-left: 115px;
  }
}
