.header {
  overflow-x: hidden;
}

.header__logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 21px 60px 18px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px) {
  .header {
    background-color: #f1f1f1;

    &--index {
      background-color: #f9f9f9;
    }
  }

  .header__logo-wrapper {
    position: absolute;
    z-index: 1;
    padding: 21px 50px;
    border: none;
  }
}

@media (min-width: 1150px) {
  .header__logo-wrapper {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
  }
}
