.logo {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;

  &[href]:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 1px solid $color-light-accent;
    outline-offset: 2px;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 100%;
  }

  .logo__image {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: 1150px) {
  .logo__image {
    width: 149px;
    height: 72px;
  }
}
