.logo {
  display: inline-block;
  padding: 22px 30px 18px 80px;
  text-align: center;
  grid-area: logo;
}

@media (min-width: 768px) {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(50%);
    padding: 22px 0;

    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }

  .logo__image {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: 1150px) {
  .logo {
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px;
  }

  .logo__image {
    width: 149px;
    height: 72px;
  }
}
