@import "./default-variables.scss";

.main-preview {
  background-image: url("../img/background/hero-header.jpg");
  background-repeat: no-repeat;
}

.preview__title {
  margin: 0;

  @include fonts(700, 50px);
  line-height: 111%;
}

.preview__list {
  @include reset-list();
}

.preview__link {
  @include fonts(700, 19px, #ffffff);
  line-height: 126%;
  text-decoration: none;
  background-color: $color-primary-accent;

  &--accent {
    background-color: $color-secondary-accent;
  }
}
