.main__preview {
  margin-bottom: 31px;
}

.main__product-week {
  margin-bottom: 41px;
}

.main__about {
  margin-bottom: 58px;
}

.main__reviews {
  margin-bottom: 38px;
}

.main__contacts {
  margin-bottom: 39px;
}

.main__catalog {
  margin-bottom: 30px;
}

.main__process {
  margin-bottom: 58px;
}

.main__forms {
  margin-bottom: 55px;
}

@media (min-width: 768px) {
  .main__preview {
    margin-bottom: 40px;
  }

  .main__product-week {
    margin-bottom: 50px;
  }

  .main__about {
    margin-bottom: 82px;
  }

  .main__reviews {
    margin-bottom: 46px;
  }

  .main__contacts {
    margin-bottom: 57px;
  }

  .main__catalog {
    margin-bottom: 53px;
  }

  .main__process {
    margin-bottom: 64px;
  }

  .main__forms {
    margin-bottom: 50px;
  }
}

@media (min-width: 1150px) {
  .main__preview {
    margin-bottom: 54px;
  }

  .main__product-week {
    margin-bottom: 68px;
  }

  .main__about {
    margin-bottom: 90px;
  }

  .main__reviews {
    margin-bottom: 71px;
  }

  .main__contacts {
    margin-bottom: 105px;
  }

  .main__catalog {
    margin-bottom: 57px;
  }

  .main__process {
    margin-bottom: 105px;
  }
}
