.main-nav {
  min-height: 80px;
}

.main-nav__menu {
  &--js {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }
}

.main-nav__menu--hidden .main-nav__list,
.main-nav__menu--hidden .main-nav__users-menu {
  display: none;
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 21px 60px 18px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  top: 26px;
  right: 28px;

  width: 26px;
  height: 26px;
  padding: 5px;

  background-color: #ffffff;
  background-image: url("../img/icon/burger-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  cursor: pointer;

  &--close {
    background-image: url("../img/icon/burger-button-close.svg");
  }

  &--nojs {
    display: none;
  }
}

.main-nav__new-menu {
  display: none;
}

.main-nav__item {
  border-bottom: 1px solid #ececec;
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 28px 33px 26px 76px;

  @include fonts(700, 17px, $color-general, 141%);
  text-decoration: none;

  &[href]:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &[href]:focus-visible {
    outline: 1px solid $color-light-accent;
  }

  &[href]:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__link:hover .main-nav__icon {
  fill: $color-light-accent;
  opacity: 1;
}

.main-nav__link:active .main-nav__icon {
  fill: $color-light-accent;
  opacity: 0.3;
}

.main-nav__icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.main-nav__delivery {
  display: none;

  @include fonts(400, 15px, $color-secondary, 160%);
  margin: 0;
}

@media (min-width: 768px) {
  .main-nav__menu {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 48.1% 1fr;
    grid-template-areas: "logo users" "listgeneral delivery";
  }

  .main-nav__logo-wrapper {
    grid-area: logo;
    padding: 22px 50px 16px;
    justify-content: flex-start;
    border-top: none;
    background-color: #ffffff;
  }

  .main-nav__list {
    grid-area: listgeneral;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 50px;
    background-color: transparent;
  }

  .main-nav__users-menu {
    grid-area: users;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-right: 50px;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
  }

  .main-nav__item {
    border-bottom: none;

    &--users {
      border-left: 1px solid #ececec;
    }

    &--general:nth-child(odd) {
      margin-right: 23px;
    }
  }

  .main-nav__link {
    box-sizing: border-box;
    height: 100%;
    padding: 20px 14px 20px 0;

    &--basket {
      padding: 33px 0 31px 83px;
    }

    &--search {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 82px;
      padding: 35px 30px;
    }

    &--medium {
      @include fonts(700, 15px, $color-general, 160%);
    }
  }

  .main-nav__icon {
    &--search {
      position: static;
      transform: none;
    }
  }

  .main-nav__name-search {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-nav__delivery {
    grid-area: delivery;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 50px;
  }
}


@media (min-width: 1150px) {
  .main-nav__menu {
    grid-template-columns: 500px auto 1fr;
    grid-template-areas: "listgeneral logo users" "newmenu . delivery";
    width: 1150px;
    margin: 0 auto;
  }

  .main-nav__logo-wrapper {
    padding: 10px 0 2px;
  }

  .main-nav__list {
    position: relative;
    box-sizing: border-box;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      height: 100%;
      width: calc(50vw - 100%);
      background-color: #ffffff;
      border-bottom: 1px solid #ececec;
    }
  }

  .main-nav__users-menu {
    position: relative;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: calc(50vw - 100%);
      background-color: #ffffff;
      border-bottom: 1px solid #ececec;
    }
  }

  .main-nav__new-menu {
    grid-area: newmenu;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-nav__item {
    &--general:nth-child(odd) {
      border-right: 1px solid #ececec;
      margin-right: 35px;
    }

    &--new {
      margin-right: 33px;
    }
  }

  .main-nav__link {
    display: flex;
    align-items: center;

    &--basket {
      padding-left: 84px;
    }

    &--medium {
      padding: 20px 35px 19px 0;

      @include fonts(700, 17px, $color-general, 141%);
    }

    &--medium-hidden {
      padding-right: 30px;

      @include fonts(700, 15px, $color-general, 160%);
    }
  }
}
