.main__preview {
  margin-bottom: 31px;

  &--form {
    margin-bottom: 18px;
  }
}

.main__product-week {
  margin-bottom: 31px;
}

.main__about {
  margin-bottom: 56px;
}

.main__reviews {
  margin-bottom: 38px;
}

.main__contacts {
  margin-bottom: 39px;
}

.main__catalog {
  margin-bottom: 30px;
}

.main__process {
  margin-bottom: 57px;
}

.main__forms {
  margin-bottom: 55px;
}

@media (min-width: 768px) {
  .main__preview {
    margin-bottom: 68px;

    &--index {
      margin-bottom: 40px;
    }

    &--form {
      margin-bottom: 55px;
    }
  }

  .main__product-week {
    margin-bottom: 56px;
  }

  .main__about {
    margin-bottom: 82px;
  }

  .main__reviews {
    margin-bottom: 45px;
  }

  .main__contacts {
    margin-bottom: 57px;
  }

  .main__catalog {
    margin-bottom: 53px;
  }

  .main__process {
    margin-bottom: 61px;
  }

  .main__forms {
    margin-bottom: 49px;
  }
}

@media (min-width: 1150px) {
  .main__preview {
    margin-bottom: 111px;

    &--index {
      margin-bottom: 58px;
    }

    &--form {
      margin-bottom: 99px;
    }
  }

  .main__product-week {
    margin-bottom: 68px;
  }

  .main__about {
    width: 1050px;
    margin: 0 auto 90px;
  }

  .main__reviews {
    width: 1050px;
    margin: 0 auto 68px;
  }

  .main__contacts {
    width: 1050px;
    margin: 0 auto 104px;
  }

  .main__catalog {
    margin-bottom: 57px;
  }

  .main__process {
    margin-bottom: 103px;
  }
}
