.preview {
  background-color: $color-bg;
  padding: 73px 31px;
}

.preview__title {
  box-sizing: border-box;
  margin: 0;

  @include fonts(700, 27px);
  text-align: center;
}

@media (min-width: 768px) {
  .preview {
    position: relative;
    background-size: 150%;
    padding: 37px 0 85px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: url("../img/background/zigzag-fill-desktop.svg");
      background-repeat: repeat-x;
      background-size: contain;
      background-position: 0 0;
    }
  }

  .preview__title {
    @include fonts(700, 43px, $color-general, 116%);
  }
}

@media (min-width: 1150px) {
  .preview {
    padding: 37px 0 113px;

    &::after {
      height: 34px;
    }
  }

  .preview__title {
    @include fonts(700, 53px, $color-general, 108%);
  }
}
