.process__container {
  box-sizing: border-box;
  border: 1px solid #ececec;
  width: 260px;
  padding: 21px 0 33px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.process__title {
  position: relative;
  margin: 0 0 26px;
  padding-left: 91px;

  @include fonts(700, 17px, $color-general, 141%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 34px;
    width: 32px;
    height: 48px;
    background-image: url("../img/icon/video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.process__description {
  width: 195px;
  margin: 35px auto 41px;

  @include fonts(400, 13px, $color-secondary, 185%);
}

.process__button {
  display: block;
  width: 192px;
  margin: 0 auto;
  padding: 14px 15px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .process__container {
    display: grid;
    width: 668px;
    padding: 0 0 46px;
  }

  .process__video {
    width: 100%;
    margin-bottom: 38px;
  }

  .process__title {
    grid-row: 2/3;
    padding-top: 3px;
    padding-left: 107px;
    margin: 0;
    margin-bottom: 23px;

    @include fonts(700, 20px, $color-general, 120%);

    &::before {
      left: 42px;
      background-position: 0 0;
    }
  }

  .process__description {
    width: 585px;
    margin-top: 0;
    margin-bottom: 41px;

    @include fonts(400, 15px, $color-secondary, 200%);
  }

  .process__button {
    width: 87.8%;
    font-size: 17px;
    padding-top: 16px;
    padding-bottom: 13px;
  }
}


@media (min-width: 1150px) {
  .process__container {
    width: 1050px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 145px 143px 1fr;
    row-gap: 27px;
    padding-bottom: 0;
  }

  .process__video {
    grid-column: 1/2;
    grid-row: 1/4;
    margin-bottom: 0;
  }

  .process__title {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 47px 110px 27px 78px;
    padding-top: 49px;
    padding-left: 0;

    &::before {
      left: 0;
      height: 22px;
    }
  }

  .process__description {
    width: 230px;
    margin: 0 auto 0 78px;
    grid-column: 2/3;
    grid-row: 2/3;
    line-height: 200%;
  }

  .process__button {
    width: 230px;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-bottom: auto;
    margin-left: 79px;
  }
}
