.process__container {
  box-sizing: border-box;
  border: 1px solid #ececec;
  padding: 21px 0 33px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.process__title {
  display: grid;
  grid-template-columns: 32px auto;
  column-gap: 25px;
  align-items: center;
  width: 75%;
  margin: 0 auto 26px;

  @include fonts(700, 17px, $color-general, 141%);

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 22px;
    background-image: url("../img/icon/video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.process__description {
  width: 75%;
  margin: 35px auto 41px;

  @include fonts(400, 13px, $color-secondary, 185%);
}

.process__button {
  display: block;
  width: 74.5%;
  margin: 0 auto;
  padding: 14px 15px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .process__container {
    display: grid;
    padding: 0 0 46px;
  }

  .process__video {
    width: 100%;
    margin-bottom: 41px;
  }

  .process__title {
    column-gap: 33px;
    align-items: start;
    grid-row: 2/3;
    width: 87.57%;
    margin-bottom: 23px;

    @include fonts(700, 20px, $color-general, 120%);
  }

  .process__description {
    width: 87.57%;
    margin-top: 0;
    margin-bottom: 41px;

    @include fonts(400, 15px, $color-secondary, 200%);
  }

  .process__button {
    width: 87.8%;
    font-size: 17px;
    padding-top: 16px;
    padding-bottom: 13px;
  }
}


@media (min-width: 1150px) {
  .process__container {
    display: grid;
    grid-template-columns: 683px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "video title" "video description" "video btn";
    align-items: start;
    width: 1050px;
    padding: 0;
  }

  .process__video {
    grid-area: video;
    margin-bottom: 0;
  }

  .process__title {
    grid-area: title;
    grid-template-columns: auto;
    row-gap: 27px;
    margin: 47px 110px 27px 78px;
    padding-left: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    width: auto;

    &::before {
      left: 0;
      height: 22px;
    }
  }

  .process__description {
    grid-area: description;
    width: 230px;
    margin: 0 auto 51px 78px;
    line-height: 200%;
  }

  .process__button {
    grid-area: btn;
    width: 230px;
    margin-left: 79px;
    margin-bottom: 61px;
  }
}
