.product {
  @include outline();
}

.product__link {
  text-decoration: none;
}

.product__title {
  @include fonts(700, 17px, $color-general, 141%);
}

.product__description {
  @include fonts(400, 13px, $color-secondary, 231%);
}

.product__price {
  @include fonts(700, 15px, $color-general, 160%);
}

.product__button {
  background-color: #ffffff;
  border: none;
}
