.reviews {
  position: relative;
  padding-bottom: 51px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/background/zigzag-line-desktop.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;

  @include fonts(700, 25px, $color-general, 120%);
}

.reviews__slider {
  margin-bottom: 37px;
}

@media (min-width: 768px) {
  .reviews {
    padding-bottom: 56px;
    background-image: url("../img/background/review-bg@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px 457px;

    &::after {
      height: 17px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/review-bg@2x.png");
      background-size: 350px 457px;
    }
  }

  .reviews__container {
    display: grid;
    row-gap: 40px;
    grid-template-columns: 1fr auto;
    margin: 0;
    padding: 78px 50px 0 50px;
  }

  .reviews__title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
    margin-top: auto;

    @include fonts(700, 43px, $color-general, 116%);
  }

  .reviews__slider {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .reviews__button {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: auto;
    min-width: 175px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    &::after {
      height: 23px;
    }
  }

  .reviews__container {
    row-gap: 33px;
    width: auto;
    padding: 78px 0 0 174px;
  }

  .reviews__title {
    @include fonts(700, 53px, $color-general, 108%);
  }
}
