.slider__list {
  margin-bottom: 32px;
}

.slider__item {
  &--hidden {
    display: none;
  }
}

.slider__content {
  margin: 0;
}

.slider__text {
  margin: 0;
  margin-bottom: 34px;

  @include fonts(400, 15px, $color-secondary, 200%);
}

.slider__author {
  display: block;
  max-width: 250px;
  margin-bottom: 3px;

  @include fonts(700, 17px, $color-general, 141%);
}

.slider__author-social {
  @include fonts(400, 17px, $color-secondary, 176%);
  text-decoration: none;
}

.slider__toggles {
  position: relative;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #ececec;
  }
}

.slider__toggle {
  position: relative;
  flex-grow: 1;
  min-height: 52px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid #ececec;
  border-right: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 53px;
    height: 26px;
    background-image: url("../img/icon/slider-arrow.svg");
    background-repeat: no-repeat;
  }

  &--next {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: #ffffff;
    opacity: 0.6;
  }

  &:active {
    background-color: #ffffff;
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;
    cursor: no-drop;
  }
}

@media (min-width: 768px) {
  .slider {
    position: relative;
  }

  .slider__list {
    grid-area: text;
    margin-bottom: 40px;
  }

  .slider__content {
    display: grid;
    grid-template-columns: 284px auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "text text text" "author . ." "social . .";
  }

  .slider__text {
    grid-area: text;
    min-height: 120px;
    margin-bottom: 61px;

    @include fonts(400, 17px, $color-secondary, 176%);
  }

  .slider__author {
    grid-area: author;
    max-width: 284px;

    @include fonts(700, 18px, $color-general, 133%);
  }

  .slider__author-social {
    grid-area: social;
  }

  .slider__toggles {
    position: absolute;
    right: 0;
    bottom: 41px;
    width: 175px;

    &::before {
      display: none;
    }
  }

  .slider__toggle {
    border: none;
  }
}

@media (min-width: 1150px) {
  .slider__list {
    margin-bottom: 96px;
  }

  .slider__text {
    min-height: 90px;
    margin-bottom: 44px;
  }
}
