.social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 143px;
  padding: 2px 0;
}

.social-list__item {
  margin-bottom: 5px;

  &:not(:nth-child(3n)) {
    margin-right: 29px;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 23px;

  &:hover {
    fill: $color-light-accent;
  }

  &:focus-visible {
    outline: 1px solid $color-light-accent;
    outline-offset: 2px;
  }

  &:active {
    opacity: 0.3;
  }
}
