.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 142px;
  padding: 2px 0;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 23px;

  &:hover {
    fill: $color-light-accent;
  }

  &:active {
    opacity: 0.3;
  }
}
