.video {
  position: relative;
}

.video__button {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 50px);

  box-sizing: border-box;
  width: 100px;
  height: 76px;

  background-color: $color-light-accent;
  border: 5px solid #ffffff;
  border-radius: 25px;
  background-image: url("../img/icon/process-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.video__image {
  display: block;
  margin: 0;
}

@media (min-width: 768px) {
  .video__image {
    width: 668px;
    height: 455px;
  }

  .video__button {
    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

@media (min-width: 1150px) {
  .video__image {
    width: 683px;
    height: 455px;
  }
}
