@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 81.2%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .container {
    width: 1050px;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 111%;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #444444;
  box-sizing: border-box;
  cursor: pointer;
}
.button:hover {
  color: #ffffff;
  background-color: #444444;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #444444;
}
.button:disabled {
  color: #444444;
  background-color: #ffffff;
  opacity: 0.1;
  cursor: no-drop;
}
.button--disabled {
  pointer-events: none;
  opacity: 0.1;
  cursor: no-drop;
}

.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  line-height: 111%;
  color: #000000;
}

.header__logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 21px 60px 18px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px) {
  .header {
    background-color: #f1f1f1;
  }
  .header--index {
    background-color: #f9f9f9;
  }

  .header__logo-wrapper {
    position: absolute;
    z-index: 1;
    padding: 21px 50px;
    border: none;
  }
}
@media (min-width: 1150px) {
  .header__logo-wrapper {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
  }
}
.logo {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}
.logo[href]:hover {
  opacity: 0.6;
}
.logo[href]:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .logo {
    width: 113px;
  }

  .logo__image {
    width: 113px;
    height: 46px;
  }
}
@media (min-width: 1150px) {
  .logo__image {
    width: 149px;
    height: 72px;
  }
}
.main-nav__menu {
  background-color: #ffffff;
}
.main-nav__menu--hidden {
  display: none;
}
.main-nav__menu--js {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 0;
  width: 100%;
}

.main-nav__toggle {
  position: absolute;
  top: 26px;
  right: 28px;
  width: 26px;
  height: 26px;
  padding: 5px;
  background-color: #ffffff;
  background-image: url("../img/icon/burger-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
.main-nav__toggle--close {
  background-image: url("../img/icon/burger-button-close.svg");
}
.main-nav__toggle--nojs {
  display: none;
}

.main-nav__new-menu {
  display: none;
}

.main-nav__item {
  border-bottom: 1px solid #ececec;
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 28px 33px 26px 76px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 141%;
  color: #000000;
  text-decoration: none;
}
.main-nav__link[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}
.main-nav__link[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__link:hover .main-nav__icon {
  fill: #63d1bb;
  opacity: 1;
}

.main-nav__link:active .main-nav__icon {
  fill: #63d1bb;
  opacity: 0.3;
}

.main-nav__icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.main-nav__delivery {
  display: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  color: #444444;
  margin: 0;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__menu {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav__menu--js {
    position: static;
    z-index: 0;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 50%;
    order: 2;
    padding-left: 50px;
  }

  .main-nav__users-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding-right: 50px;
    padding-left: 210px;
    order: 1;
    border-bottom: 1px solid #ececec;
    background-color: #ffffff;
  }

  .main-nav__item {
    border-bottom: none;
  }
  .main-nav__item--users {
    border-left: 1px solid #ececec;
  }
  .main-nav__item--general:nth-child(odd) {
    margin-right: 16px;
  }

  .main-nav__link {
    box-sizing: border-box;
    height: 100%;
    padding: 20px 20px 20px 0;
  }
  .main-nav__link--basket {
    padding: 33px 0 31px 83px;
  }
  .main-nav__link--search {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 82px;
    padding: 35px 30px;
  }
  .main-nav__link--medium {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    line-height: 160%;
    color: #000000;
  }

  .main-nav__icon--search {
    position: static;
    transform: none;
  }

  .main-nav__name-search {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .main-nav__delivery {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    order: 3;
    padding: 20px 50px;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    width: 1150px;
    margin: 0 auto;
  }

  .main-nav__list {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    order: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }
  .main-nav__list::before {
    content: "";
    position: absolute;
    top: 0;
    right: 575px;
    height: 100%;
    width: calc(50vw - 575px);
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }

  .main-nav__users-menu {
    position: relative;
    box-sizing: border-box;
    padding-left: 120px;
    padding-right: 50px;
    width: 50%;
    order: 0;
  }
  .main-nav__users-menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 575px;
    height: 100%;
    width: calc(50vw - 575px);
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }

  .main-nav__new-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-nav__item--general:nth-child(odd) {
    border-right: 1px solid #ececec;
    margin-right: 35px;
  }
  .main-nav__item--new {
    margin-right: 33px;
  }

  .main-nav__link {
    display: flex;
    align-items: center;
  }
  .main-nav__link--basket {
    padding-left: 85px;
  }
  .main-nav__link--medium {
    padding: 20px 35px 19px 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    line-height: 141%;
    color: #000000;
  }
  .main-nav__link--medium-hidden {
    padding-right: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    line-height: 160%;
    color: #000000;
  }
}
.main__preview {
  margin-bottom: 31px;
}
.main__preview--form {
  margin-bottom: 18px;
}

.main__product-week {
  margin-bottom: 31px;
}

.main__about {
  margin-bottom: 56px;
}

.main__reviews {
  margin-bottom: 38px;
}

.main__contacts {
  margin-bottom: 39px;
}

.main__catalog {
  margin-bottom: 30px;
}

.main__process {
  margin-bottom: 57px;
}

.main__forms {
  margin-bottom: 55px;
}

@media (min-width: 768px) {
  .main__preview {
    margin-bottom: 68px;
  }
  .main__preview--index {
    margin-bottom: 40px;
  }
  .main__preview--form {
    margin-bottom: 55px;
  }

  .main__product-week {
    margin-bottom: 56px;
  }

  .main__about {
    margin-bottom: 82px;
  }

  .main__reviews {
    margin-bottom: 45px;
  }

  .main__contacts {
    margin-bottom: 57px;
  }

  .main__catalog {
    margin-bottom: 53px;
  }

  .main__process {
    margin-bottom: 61px;
  }

  .main__forms {
    margin-bottom: 49px;
  }
}
@media (min-width: 1150px) {
  .main__preview {
    margin-bottom: 111px;
  }
  .main__preview--index {
    margin-bottom: 58px;
  }
  .main__preview--form {
    margin-bottom: 99px;
  }

  .main__product-week {
    margin-bottom: 68px;
  }

  .main__about {
    width: 1050px;
    margin: 0 auto 90px;
  }

  .main__reviews {
    width: 1050px;
    margin: 0 auto 68px;
  }

  .main__contacts {
    width: 1050px;
    margin: 0 auto 104px;
  }

  .main__catalog {
    margin-bottom: 57px;
  }

  .main__process {
    margin-bottom: 103px;
  }
}
.preview {
  background-color: #f1f1f1;
  padding: 73px 31px;
}

.preview__title {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  line-height: 111%;
  color: #000000;
  text-align: center;
}

@media (min-width: 768px) {
  .preview {
    position: relative;
    background-size: 150%;
    padding: 37px 0 85px;
  }
  .preview::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/background/zigzag-fill-desktop.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: 0 0;
  }

  .preview__title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 43px;
    font-weight: 700;
    font-style: normal;
    line-height: 116%;
    color: #000000;
  }
}
@media (min-width: 1150px) {
  .preview {
    padding: 37px 0 113px;
  }
  .preview::after {
    height: 34px;
  }

  .preview__title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 53px;
    font-weight: 700;
    font-style: normal;
    line-height: 108%;
    color: #000000;
  }
}
.main-preview {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  background-image: url("../img/background/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -15%;
  background-size: 320px auto;
  padding: 73px 0 0 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-preview {
    background-image: url("../img/background/hero-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.main-preview__title {
  margin: 0 30px 119px;
}

.main-preview__item {
  background-color: #63d1bb;
}
.main-preview__item--dark {
  background-color: #56c3b2;
}

.main-preview__link {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 25px 60% 30px 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: 700;
  font-style: normal;
  line-height: 126%;
  color: #ffffff;
  text-decoration: none;
}
.main-preview__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 60px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}
.main-preview__link--light::after {
  background-image: url("../img/icon/interior.svg");
}
.main-preview__link--dark::after {
  background-image: url("../img/icon/toy.svg");
}

.main-preview__link:hover::after {
  opacity: 1;
}

.main-preview__link:active::after {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .main-preview {
    background-image: url("../img/background/hero-tablet@1x.jpg");
    background-size: 768px auto;
    background-position: 50% 125%;
    padding-bottom: 12px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .main-preview {
    background-image: url("../img/background/hero-tablet@2x.jpg");
    background-size: 768px auto;
  }
}
@media (min-width: 768px) {
  .main-preview__title {
    margin: 18px 50px 371px;
  }
}
@media (min-width: 768px) {
  .main-preview__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 87%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .main-preview__item:hover {
    margin-top: -5px;
  }
}
@media (min-width: 768px) {
  .main-preview__link {
    min-height: 119px;
    padding: 24px 60% 30px 35px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    color: #ffffff;
  }
  .main-preview__link--dark::after {
    right: 35px;
  }
  .main-preview__link:hover {
    transform: translateY(-5px);
  }
}
@media (min-width: 1150px) {
  .main-preview {
    background-image: url("../img/background/hero-desktop@1x.jpg");
    background-size: 1150px auto;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1150px) and (min-resolution: 2dppx) {
  .main-preview {
    background-image: url("../img/background/hero-desktop@2x.jpg");
  }
}
@media (min-width: 1150px) {
  .main-preview__title {
    width: 700px;
    margin: 20px auto 355px;
  }
}
@media (min-width: 1150px) {
  .main-preview__list {
    width: 1050px;
    margin: 0 auto;
  }
}
.product-week {
  position: relative;
  padding-bottom: 42px;
}
.product-week::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: url("../img/background/zigzag-line-desktop.svg");
  background-repeat: repeat-x;
}

.product-week__header {
  margin-bottom: 17px;
}

.product-week__title {
  margin: 0;
  margin-bottom: 4px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  color: #000000;
}

.product-week__text {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 118%;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-week__description {
  margin: 0;
  margin-bottom: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  color: #444444;
}

.product-week__detailed {
  margin: 0;
  margin-bottom: 28px;
}

.product-week__picture {
  margin-bottom: 30px;
}

.product-week__image {
  display: block;
  margin: 0 auto;
}

.product-week__price {
  margin: 0;
  margin-bottom: 26px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 111%;
  color: #444444;
  text-align: center;
}

.product-week__button {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .product-week {
    padding-bottom: 69px;
  }
  .product-week::after {
    height: 17px;
    background-size: contain;
  }

  .product-week__container {
    display: grid;
    grid-template-columns: 292px 1fr;
    grid-template-rows: repeat(5, auto);
    column-gap: 42px;
  }

  .product-week__header {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    margin-bottom: 37px;
  }

  .product-week__title {
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 43px;
    font-weight: 700;
    font-style: normal;
    line-height: 116%;
    color: #000000;
  }

  .product-week__text {
    width: 100px;
    text-align: center;
    line-height: 100%;
    margin: 0 auto 3px;
  }

  .product-week__description {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 40px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 176%;
    color: #444444;
  }

  .product-week__detailed {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-bottom: 57px;
  }

  .product-week__picture {
    grid-column: 2/3;
    grid-row: 2/6;
    margin-top: auto;
    margin-bottom: 0;
  }

  .product-week__image {
    width: 334px;
    height: 404px;
    margin-left: auto;
    margin-right: 0;
  }

  .product-week__price {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-bottom: 32px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    color: #444444;
  }

  .product-week__button {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .product-week {
    position: relative;
    padding-bottom: 97px;
  }
  .product-week::after {
    left: 4.35%;
    width: 91.3%;
    height: 23px;
  }

  .product-week__container {
    grid-template-columns: 137px 292px 1fr;
    column-gap: 38px;
  }

  .product-week__header {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-bottom: 37px;
    padding-top: 60px;
  }

  .product-week__title {
    order: 2;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 53px;
    font-weight: 700;
    font-style: normal;
    line-height: 108%;
    color: #000000;
  }

  .product-week__text {
    width: 100px;
    margin: 0 43px 0 32px;
    order: 1;
  }

  .product-week__description {
    grid-column: 2/3;
    margin-bottom: 52px;
  }

  .product-week__detailed {
    grid-column: 2/3;
    margin-bottom: 109px;
  }

  .product-week__picture {
    grid-column: 3/4;
    grid-row: 1/6;
    margin-bottom: auto;
  }

  .product-week__image {
    width: 525px;
    height: 636px;
  }

  .product-week__price {
    grid-column: 2/3;
  }

  .product-week__button {
    grid-column: 2/3;
    font-size: 17px;
    padding-top: 15px;
  }
}
.detailed__wrapper {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  grid-template-columns: 38% 1fr;
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 133%;
  color: #444444;
}

.detailed__value {
  margin: 0;
}

@media (min-width: 768px) {
  .detailed__wrapper {
    grid-template-columns: 33% 1fr;
  }
}
@media (min-width: 1150px) {
  .detailed__wrapper {
    grid-template-columns: 34% 1fr;
    padding-top: 8px;
    padding-bottom: 13px;
  }
  .detailed__wrapper:last-child {
    padding-top: 6px;
  }
}
.about__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  color: #000000;
}

.about__list {
  display: grid;
  gap: 28px;
}

.about__item {
  position: relative;
  padding-top: 55px;
  width: 90%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 118%;
  color: #000000;
}
.about__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 55px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
}
.about__item--eco::before {
  top: -1px;
  left: -3px;
  background-image: url("../img/icon/icon-eco.svg");
}
.about__item--style::before {
  top: -6px;
  left: -4px;
  background-image: url("../img/icon/icon-style.svg");
}
.about__item--likes::before {
  top: -1px;
  left: -4px;
  background-image: url("../img/icon/icon-likes.svg");
}
.about__item--handmade::before {
  background-image: url("../img/icon/icon-handmade.svg");
}
.about__item--local::before {
  top: -5px;
  background-image: url("../img/icon/icon-local.svg");
}
.about__item--gift::before {
  top: -3px;
  left: -8px;
  background-image: url("../img/icon/icon-gift.svg");
}

@media (min-width: 768px) {
  .about__list {
    grid-template-columns: 265px 325px;
    column-gap: 70px;
    row-gap: 56px;
  }

  .about__title {
    margin-bottom: 43px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 43px;
    font-weight: 700;
    font-style: normal;
    line-height: 116%;
    color: #000000;
  }

  .about__item {
    padding-right: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 110%;
    color: #000000;
  }
  .about__item--style {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .about__item--likes {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (min-width: 1150px) {
  .about__container {
    width: 65%;
    margin-left: 175px;
  }

  .about__title {
    margin-bottom: 40px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 53px;
    font-weight: 700;
    font-style: normal;
    line-height: 108%;
    color: #000000;
  }

  .about__list {
    column-gap: 85px;
  }
}
.reviews {
  position: relative;
  padding-bottom: 51px;
}
.reviews::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: url("../img/background/zigzag-line-desktop.svg");
  background-repeat: repeat-x;
  background-size: contain;
}

.reviews__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  color: #000000;
}

.reviews__slider {
  margin-bottom: 37px;
}

@media (min-width: 768px) {
  .reviews {
    padding-bottom: 58px;
    background-image: url("../img/background/review-bg@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px 457px;
  }
  .reviews::after {
    height: 17px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url("../img/background/review-bg@2x.png");
    background-size: 350px 457px;
  }
}
@media (min-width: 768px) {
  .reviews__container {
    display: grid;
    row-gap: 40px;
    grid-template-columns: 285px 1fr 175px;
    margin: 0;
    padding: 78px 50px 0 50px;
  }
}
@media (min-width: 768px) {
  .reviews__title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
    margin-top: auto;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 43px;
    font-weight: 700;
    font-style: normal;
    line-height: 116%;
    color: #000000;
  }
}
@media (min-width: 768px) {
  .reviews__slider {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}
@media (min-width: 768px) {
  .reviews__button {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-bottom: auto;
  }
}
@media (min-width: 1150px) {
  .reviews::after {
    height: 23px;
  }

  .reviews__container {
    row-gap: 33px;
    width: auto;
    padding: 78px 0 0 174px;
  }

  .reviews__title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 53px;
    font-weight: 700;
    font-style: normal;
    line-height: 108%;
    color: #000000;
  }
}
.slider__list {
  margin-bottom: 30px;
}

.slider__item--hidden {
  display: none;
}

.slider__content {
  margin: 0;
}

.slider__text {
  margin: 0;
  margin-bottom: 34px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 200%;
  color: #444444;
}

.slider__author {
  display: block;
  max-width: 250px;
  margin-bottom: 3px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 141%;
  color: #000000;
}

.slider__author-social {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  line-height: 176%;
  color: #444444;
  text-decoration: none;
}

.slider__toggles {
  position: relative;
  display: flex;
}
.slider__toggles::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #ececec;
}

.slider__toggle {
  position: relative;
  flex-grow: 1;
  min-height: 52px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid #ececec;
  border-right: none;
}
.slider__toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 53px;
  height: 26px;
  background-image: url("../img/icon/slider-arrow.svg");
  background-repeat: no-repeat;
}
.slider__toggle--next {
  transform: rotate(180deg);
}
.slider__toggle:hover {
  background-color: #ffffff;
  opacity: 0.6;
}
.slider__toggle:active {
  background-color: #ffffff;
  opacity: 0.3;
}
.slider__toggle:disabled {
  opacity: 0.1;
  cursor: no-drop;
}

@media (min-width: 768px) {
  .slider {
    position: relative;
  }

  .slider__list {
    grid-area: text;
    margin-bottom: 40px;
  }

  .slider__content {
    display: grid;
    grid-template-columns: 284px auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "text text text" "author . ." "social . .";
  }

  .slider__text {
    grid-area: text;
    min-height: 120px;
    margin-bottom: 61px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 176%;
    color: #444444;
  }

  .slider__author {
    grid-area: author;
    max-width: 284px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 133%;
    color: #000000;
  }

  .slider__author-social {
    grid-area: social;
  }

  .slider__toggles {
    position: absolute;
    right: 0;
    bottom: 41px;
    width: 175px;
  }
  .slider__toggles::before {
    display: none;
  }

  .slider__toggle {
    border: none;
  }
}
@media (min-width: 1150px) {
  .slider__list {
    margin-bottom: 96px;
  }

  .slider__text {
    min-height: 90px;
    margin-bottom: 44px;
  }

  .slider__author {
    font-size: 17px;
  }

  .slider__toggles {
    bottom: 97px;
  }
}
.contacts__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  color: #000000;
}

.contacts__wrapper {
  display: grid;
  row-gap: 30px;
  margin-bottom: 65px;
}

.contacts__description {
  display: flex;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 214%;
  color: #444444;
}

.contacts__type {
  margin-right: 35px;
}

.contacts__link {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 214%;
  color: #444444;
  text-decoration: none;
}
.contacts__link::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #63d1bb;
}
.contacts__link:hover {
  color: #63d1bb;
}
.contacts__link:active::after {
  opacity: 0.1;
}

.contacts__text {
  flex-grow: 1;
}

.contacts__map {
  margin-bottom: 39px;
}

.contacts__button {
  width: 81.2%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contacts__container {
    position: relative;
    width: 87%;
    padding-top: 22px;
  }
  .contacts__container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 3px;
    width: 47px;
    height: 81px;
    background-image: url("../img/icon/contacts-flag.svg");
    background-repeat: no-repeat;
  }

  .contacts__title {
    margin-bottom: 49px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 43px;
    font-weight: 700;
    font-style: normal;
    line-height: 116%;
    color: #000000;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    row-gap: 0;
    margin-bottom: 49px;
  }

  .contacts__type {
    margin-right: 25px;
  }

  .contacts__description {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 176%;
    color: #444444;
  }

  .contacts__link {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 176%;
    color: #444444;
  }
  .contacts__link::after {
    bottom: 0;
  }

  .contacts__map {
    margin-bottom: 55px;
  }

  .contacts__button {
    width: 230px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 13px;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 527px;
    grid-template-areas: "contacts contacts-map" "contacts-button contacts-map";
    padding: 0 50px;
  }

  .contacts__container {
    grid-area: contacts;
    box-sizing: border-box;
    width: 91.3%;
    margin-top: 57px;
    margin-left: 64px;
    padding-left: 109px;
  }
  .contacts__container::before {
    top: 0;
    left: 0;
  }

  .contacts__title {
    margin-bottom: 34px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 53px;
    font-weight: 700;
    font-style: normal;
    line-height: 108%;
    color: #000000;
  }

  .contacts__wrapper {
    display: grid;
    row-gap: 30px;
    width: 300px;
    margin-bottom: 84px;
  }

  .contacts__map {
    grid-area: contacts-map;
    margin-bottom: 0;
  }

  .contacts__link::after {
    bottom: -5px;
  }

  .contacts__button {
    grid-area: contacts-button;
    width: 230px;
    margin-left: 175px;
    margin-bottom: auto;
  }
}
.contacts-map {
  display: block;
  border: none;
  width: 100%;
}

.contacts-map__image {
  display: block;
  margin-bottom: 0;
  object-fit: contain;
}

@media (min-width: 768px) {
  .contacts-map {
    height: 457px;
  }
}
.footer {
  padding-bottom: 23px;
  background-color: #f1f1f1;
}

.footer__container {
  position: relative;
  padding-top: 25px;
}

.footer__logo {
  display: none;
}

.footer__social {
  margin: 0 auto 28px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 51px;
    padding-bottom: 58px;
  }

  .footer__logo {
    display: block;
  }

  .footer__logo:hover svg {
    fill: #63d1bb;
  }

  .footer__logo:active svg {
    opacity: 0.3;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
  }
  .footer__container::before {
    display: none;
  }

  .footer__social {
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .footer {
    padding-top: 49px;
  }
}
.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 142px;
  padding: 2px 0;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 23px;
}
.social-list__link:hover {
  fill: #63d1bb;
}
.social-list__link:active {
  opacity: 0.3;
}

.academy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  border-top: 1px solid #e5e5e5;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  color: #000000;
}

.academy__text {
  margin-right: 27px;
}

.academy__logo {
  display: flex;
  align-items: center;
  fill: #63d1bb;
}

@media (min-width: 768px) {
  .academy {
    padding-top: 0;
    border-top: none;
  }

  .academy__text {
    margin-right: 28px;
  }

  .academy__logo:hover {
    fill: #56c3b2;
  }

  .academy__logo:active {
    opacity: 0.3;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.modal--close {
  display: none;
}

.modal__content {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 30px 30px 46px 30px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
}

.modal__title {
  width: 60%;
  margin: 0 auto 14px;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  color: #000000;
  text-transform: uppercase;
}

.modal__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
}

.modal__name {
  text-align: center;
  margin-bottom: 21px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 200%;
  color: #444444;
}

.modal__label {
  width: 32%;
}

.modal__input:checked + .modal__value {
  border-color: #63d1bb;
}

.modal__input:disabled + .modal__value {
  opacity: 0.1;
}

.modal__input:checked:disabled + .modal__value {
  opacity: 0.1;
}

.modal__value {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid rgba(68, 68, 68, 0.1);
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 111%;
  color: #444444;
}

.modal__button {
  background-color: #63d1bb;
  border-color: transparent;
  color: #ffffff;
  width: 100%;
  padding: 14px;
}
.modal__button:hover {
  background-color: #56c3b2;
}
.modal__button:active {
  background-color: #56c3b2;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .modal__content {
    width: 566px;
    padding: 40px 93px 46px 93px;
  }

  .modal__title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: 190%;
    color: #000000;
  }

  .modal__wrapper {
    width: 350px;
    margin: 0 auto 31px;
  }

  .modal__name {
    margin-bottom: 19px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 176%;
    color: #444444;
  }

  .modal__button {
    width: 350px;
    margin: 0 auto;
  }
}
.catalog__list {
  display: grid;
  gap: 30px;
}

.catalog__product {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .catalog__list {
    gap: 54px;
  }

  .catalog__product {
    width: 670px;
  }
}
@media (min-width: 1150px) {
  .catalog__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }

  .catalog__product {
    width: 316px;
  }
}
.product:hover .product__wrapper {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.product:active .product__wrapper {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.product__link {
  text-decoration: none;
}

.product__image {
  display: block;
  margin: 0;
}

.product__wrapper {
  box-sizing: border-box;
  border: 1px solid #ececec;
}

.product__title {
  margin: 0 auto;
  padding: 28px 28px 5px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 141%;
  color: #000000;
}
.product__title--offset {
  padding: 25px 28px 8px;
}

.product__description {
  margin: 0 28px 17px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 231%;
  color: #444444;
}

.product__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 204px;
  margin: 0 28px;
  padding: 22px 0 26px;
  border-top: 1px solid #ececec;
}

.product__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  line-height: 160%;
  color: #000000;
}

.product__button {
  background-color: #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;
}
.product__button:hover svg {
  fill: #63d1bb;
  opacity: 1;
}
.product__button:active svg {
  fill: #63d1bb;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .product {
    display: flex;
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .product__image {
    width: 334px;
    height: 334px;
  }

  .product__inner {
    margin-top: auto;
    width: auto;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .product__title {
    padding: 27px 31px 5px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    color: #000000;
  }
  .product__title--laundry {
    margin-bottom: 4px;
  }

  .product__description {
    margin: 0 31px 17px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 200%;
    color: #444444;
  }

  .product__price {
    padding: 0 4px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    line-height: 141%;
    color: #000000;
  }

  .product__button {
    padding: 3px 5px;
  }
}
@media (min-width: 1150px) {
  .product {
    flex-direction: column;
  }

  .product__image {
    width: 316px;
    height: 462px;
  }

  .product__title {
    padding: 27px 27px 4px;
  }
  .product__title--laundry {
    padding-bottom: 0;
  }

  .product__description {
    margin: 0 27px 13px;
  }

  .product__inner {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .product__price {
    padding: 0;
  }

  .product__button {
    padding: 0 2px;
  }
}
.process__container {
  box-sizing: border-box;
  border: 1px solid #ececec;
  width: 260px;
  padding: 21px 0 33px;
}
.process__container:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
.process__container:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.process__title {
  position: relative;
  margin: 0 0 26px;
  padding-left: 91px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 141%;
  color: #000000;
}
.process__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 34px;
  width: 32px;
  height: 48px;
  background-image: url("../img/icon/video.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__description {
  width: 195px;
  margin: 35px auto 41px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 185%;
  color: #444444;
}

.process__button {
  display: block;
  width: 192px;
  margin: 0 auto;
  padding: 14px 15px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .process__container {
    display: grid;
    width: 668px;
    padding: 0 0 46px;
  }

  .process__video {
    width: 100%;
    margin-bottom: 38px;
  }

  .process__title {
    grid-row: 2/3;
    padding-top: 3px;
    padding-left: 107px;
    margin: 0;
    margin-bottom: 23px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    color: #000000;
  }
  .process__title::before {
    left: 42px;
    background-position: 0 0;
  }

  .process__description {
    width: 585px;
    margin-top: 0;
    margin-bottom: 41px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 200%;
    color: #444444;
  }

  .process__button {
    width: 87.8%;
    font-size: 17px;
    padding-top: 16px;
    padding-bottom: 13px;
  }
}
@media (min-width: 1150px) {
  .process__container {
    width: 1050px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 145px 143px 1fr;
    row-gap: 27px;
    padding-bottom: 0;
  }

  .process__video {
    grid-column: 1/2;
    grid-row: 1/4;
    margin-bottom: 0;
  }

  .process__title {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 47px 110px 27px 78px;
    padding-top: 49px;
    padding-left: 0;
  }
  .process__title::before {
    left: 0;
    height: 22px;
  }

  .process__description {
    width: 230px;
    margin: 0 auto 0 78px;
    grid-column: 2/3;
    grid-row: 2/3;
    line-height: 200%;
  }

  .process__button {
    width: 230px;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-bottom: auto;
    margin-left: 79px;
  }
}
.video {
  position: relative;
}

.video__button {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 76px;
  background-color: #63d1bb;
  border: 5px solid #ffffff;
  border-radius: 21px;
  background-image: url("../img/icon/process-arrow.svg");
  background-repeat: no-repeat;
  background-position: 56% 50%;
  cursor: pointer;
}
.video__button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.video__button:active {
  transform: translate(-50%, -50%) scale(0.9);
}
.video__button:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.3;
  border-radius: 20px;
}

.video__image {
  display: block;
  margin: 0;
}

@media (min-width: 768px) {
  .video__image {
    width: 100%;
    height: 455px;
  }

  .video__button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1150px) {
  .video__image {
    width: 683px;
    height: 455px;
  }
}
.forms__description {
  margin-bottom: 28px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 185%;
  color: #444444;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  border: none;
}
.form__fieldset--other {
  padding-bottom: 0;
  margin-bottom: 13px;
}

.form__title {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  margin: 0;
  margin-bottom: 30px;
  width: 100%;
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 110%;
  color: #63d1bb;
  text-transform: uppercase;
}
.form__title--color {
  margin-bottom: 23px;
}
.form__title--names {
  margin-bottom: 28px;
}
.form__title--tel {
  margin-bottom: 2px;
}
.form__title--email {
  margin-bottom: 4px;
}
.form__title--other {
  margin-bottom: 22px;
}
.form__title::after {
  content: "";
  height: 1px;
  display: block;
  background-color: #63d1bb;
  margin-left: 20px;
}
.form__title--tel::after {
  margin-left: 28px;
}

.form__wrapper {
  display: grid;
}
.form__wrapper--type {
  row-gap: 11px;
}
.form__wrapper--color {
  row-gap: 23px;
}
.form__wrapper--name {
  row-gap: 23px;
}

.form__label {
  position: relative;
  display: block;
}
.form__label--type {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 19px;
}
.form__label--color {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 23px;
}
.form__label--tel {
  margin-bottom: 34px;
}
.form__label:hover .form__mark {
  border-color: #63d1bb;
}
.form__label:active .form__mark {
  border-color: rgba(68, 68, 58, 0.3);
}
.form__label:active .form__mark--circle {
  border-color: rgba(0, 0, 0, 0.3);
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 17px 40px 13px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  line-height: 106%;
  color: #444444;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  cursor: pointer;
}
.form__input--tel {
  padding-bottom: 17px;
}
.form__input--comment {
  height: 142px;
  padding: 16px;
  border: 2px solid #444444;
  box-shadow: none;
}
.form__input::placeholder {
  opacity: 0.3;
}
.form__input[type=radio]:checked + .form__mark--circle {
  background-image: url("../img/icon/color-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form__input[type=radio]:disabled ~ .form__value {
  opacity: 0.1;
}
.form__input[type=radio]:disabled + .form__mark--circle {
  opacity: 0.1;
  cursor: no-drop;
}
.form__input[type=radio]:checked:disabled ~ .form__value {
  opacity: 0.1;
}
.form__input[type=radio]:checked:disabled + .form__mark--circle {
  opacity: 0.1;
  cursor: no-drop;
}
.form__input[type=checkbox]:checked + .form__mark {
  background-image: url("../img/icon/color-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form__input[type=checkbox]:disabled ~ .form__value {
  opacity: 0.1;
}
.form__input[type=checkbox]:disabled + .form__mark {
  opacity: 0.1;
  cursor: no-drop;
}
.form__input[type=checkbox]:checked:disabled ~ .form__value {
  opacity: 0.1;
}
.form__input[type=checkbox]:checked:disabled + .form__mark {
  opacity: 0.1;
  cursor: no-drop;
}
.form__input:hover:not(:disabled) {
  border-color: #63d1bb;
}
.form__input:hover:not(:disabled) + .form__contact-image {
  fill: #63d1bb;
  opacity: 1;
}
.form__input:focus {
  border-color: #63d1bb;
  outline: none;
}
.form__input:focus + .form__contact-image {
  fill: #63d1bb;
  opacity: 1;
}
.form__input:disabled {
  opacity: 0.1;
  cursor: no-drop;
}

.form__contact-image {
  position: absolute;
  bottom: 50%;
  right: 5px;
  transform: translateY(95%);
}

.form__mark {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
  cursor: pointer;
}
.form__mark--circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.form__value {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 106%;
  color: #000000;
}

.form__important {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 114%;
  color: #444444;
}

.form__button {
  width: 100%;
  padding: 16px 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  line-height: 94%;
  color: #444444;
}

@media (min-width: 768px) {
  .forms__description {
    margin-bottom: 13px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 176%;
    color: #444444;
  }

  .form__fieldset {
    padding: 50px 0;
  }
  .form__fieldset--dark {
    background-color: #f1f1f1;
  }
  .form__fieldset--other {
    margin-bottom: 0;
  }

  .form__container {
    display: grid;
    grid-template-columns: 1fr 501px;
  }
  .form__container--type {
    grid-template-columns: 1fr 499px;
  }
  .form__container--contacts {
    grid-template-columns: 1fr;
  }
  .form__container--bottom {
    grid-template-columns: 230px 1fr;
  }

  .form__label--type {
    column-gap: 26px;
  }
  .form__label--color {
    column-gap: 30px;
  }
  .form__label--name {
    display: flex;
    align-items: center;
  }
  .form__label--tel {
    display: grid;
    grid-template-columns: 1fr 501px;
    margin-bottom: 24px;
  }
  .form__label--email {
    display: grid;
    grid-template-columns: 1fr 501px;
  }

  .form__wrapper--type {
    row-gap: 24px;
  }
  .form__wrapper--color {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 22px;
    row-gap: 24px;
  }
  .form__wrapper--name {
    row-gap: 24px;
  }

  .form__title::after {
    content: none;
  }

  .form__title {
    -webkit-margin-before: 1em;
            margin-block-start: 1em;
    background-color: transparent;
  }

  .form__mark {
    width: 52px;
    height: 52px;
  }

  .form__value {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 19px;
    font-weight: 700;
    font-style: normal;
    line-height: 100%;
    color: #000000;
  }
  .form__value--name {
    margin-right: 25px;
  }

  .form__input {
    padding-top: 11px;
    padding-left: 17px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    color: #444444;
  }
  .form__input--tel {
    padding-bottom: 13px;
  }
  .form__input--comment {
    padding: 16px;
  }
  .form__input[type=radio]:checked + .form__mark--circle {
    background-size: 50%;
  }
  .form__input[type=checkbox]:checked + .form__mark {
    background-size: 70%;
  }

  .form__contact-image {
    right: 23px;
    transform: translateY(50%);
  }

  .form__important {
    margin: auto 0 auto auto;
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 176%;
    color: #444444;
  }

  .form__button {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 230px;
  }
}
@media (min-width: 1150px) {
  .forms__description {
    width: 702px;
    margin-left: auto;
    margin-right: auto;
  }

  .form__fieldset {
    padding: 49px 0 50px 0;
  }
  .form__fieldset--other {
    padding-bottom: 46px;
  }

  .form__container {
    box-sizing: border-box;
    padding: 0 175px 0 60px;
    grid-template-columns: 1fr 700px;
  }
  .form__container--contacts {
    grid-template-columns: 1fr;
  }
  .form__container--bottom {
    grid-template-columns: 230px 1fr;
  }

  .form__wrapper--color {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 97px;
  }

  .form__label--tel {
    display: grid;
    grid-template-columns: 1fr 700px;
  }
  .form__label--email {
    display: grid;
    grid-template-columns: 1fr 700px;
  }

  .form__input {
    padding-bottom: 14px;
  }
  .form__input--tel {
    padding-bottom: 12px;
  }

  .form__contact-image {
    right: 4px;
  }

  .form__button {
    margin-left: 115px;
  }
}
/*# sourceMappingURL=style.css.map */